# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

cliff!=2.9.0 # Apache-2.0
oslo.utils # Apache-2.0
pbr!=2.1.0 # Apache-2.0
GitPython # BSD License (3 clause)
PyYAML # MIT
six # MIT
jsonschema<3.0.0 # MIT
junit-xml>=1.7 # MIT
